*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container, .nav-links, .cart {
    display: flex;
}

.logo-container {
    background-color: lightblue;
    flex: 1;
}
nav {
    background-color: lightgreen;
    flex: 2;
}
.cart {
    background-color: lightcoral;
    flex: 1;
}